@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  font-weight: normal;
}

.navbar {
  background-color: black;
  height: 60px;
}
.navbar a {
  color: white;
  font-size: 18px;
}
.navbar a:hover {
  color: gray;
}
.navbar .logo {
  width: 40px;
}
.navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar .left-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.body {
  display: flex;
}

.side-bar {
  background-color: lightgrey;
  font-size: 14px;
  min-width: 160px;
  height: 450px;
}
.side-bar h2,
ul li {
  padding: 12px;
}
.side-bar a {
  color: black;
  font-size: 18px;
}
.side-bar .home {
  background-color: #04a96d;
}
.side-bar li:hover {
  background-color: #058958;
}

.filler-top {
  padding: 40px;
}
.page-title {
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons input {
  background-color: #04a96d;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
}
.buttons input:hover {
  background-color: #058958;
}
.filler-bottom {
  background-color: #bee4cf;
  padding: 40px 40px 20px 40px;
}
.filler-bottom p {
  padding-bottom: 20px;
  font-size: 18px;
}
